@import "style/variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  // --- Layout ---
  display: grid;
  grid-template-columns: 200px 1fr;
  margin: 0 auto;
  scroll-behavior: smooth;
  background: white;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;

  .navbar {
    // --- Layout ---
    position: fixed;
    width: 200px;
    height: 100vh;
    z-index: 20;
    background: white;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &__logo {
      opacity: 0.9;
      transform: scale(0.8);
      padding-top: 1rem;

      a {
        cursor: pointer;
      }
    }

    // --- Typography ---
    ul {
      font-family: $font_display;
      list-style: none;
      border-top: 1px solid lightgray;
      border-bottom: 1px solid lightgray;

      margin: 0 8px;

      li {
        padding: 1.5rem 0;
        font-size: 1.2rem;
        transition: all 0.2s ease-out;
        color: $textColor_dark;
        user-select: none;

        &:nth-child(2) {
          border-top: 1px solid lightgray;
          border-bottom: 1px solid lightgray;
        }

        &:hover {
          cursor: pointer;
          background: $purple;
          color: white;
        }
      }
    }

    footer {
      margin-bottom: 1rem;
      color: $textColor_dark;
      font-size: 0.9rem;

      a:visited {
        color: $textColor_dark;
      }
    }
  }

  .popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 40;
    display: flex;
    justify-content: center;
    align-items: center;

    &__overlay {
      position: absolute;
      width: 100%;
      height: 100vh;
      background-color: #353535;
      opacity: 0.6;
      cursor: pointer;
    }

    form {
      @include loader;
      z-index: 40;
      width: 40%;
      margin-bottom: 10%;
      margin-left: 15%;
      label {
        color: white;
        font-family: $font_info;
        font-size: 1.3rem;
      }

      input {
        display: block;
        padding: 1.2rem 2rem;
        width: 100%;
        font-family: $font_display;
        font-size: 2rem;
        border-radius: 3rem;
        border: none;
        text-align: center;
        color: $textColor_dark;
        text-transform: capitalize;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .card {
    &:hover {
      .card__overlay {
        background: $purple;
      }
    }

    .delete {
      position: absolute;
      z-index: 20;
      transform: scale(1.5);
      top: 1.2rem;
      left: 1.2rem;
      color: white;
      transition: all 0.15s ease-in-out;
      border: none;
      background-color: transparent;
      height: 1.5rem;
      width: 1.5rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.8);
        background-color: white;
        color: $purple;
      }

      &:active {
        transition: none;
        transform: scale(2.2);
      }
    }

    &--feature {
      // layout
      grid-column: 2 / span 1;
      width: 100%;
      height: 600px;
      margin-bottom: $gap;
      position: relative;
      min-width: 600px;
      cursor: pointer;

      .delete {
        cursor: pointer;
      }

      .card__overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
        z-index: 10;
        transition: background-color 0.3s ease-in-out;
      }

      .card__info {
        width: 100%;
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: white;
        padding: 1.2rem;
        user-select: none;

        .current {
          z-index: 20;
          opacity: 0.8;
          margin-top: 1rem;

          &__city {
            font-family: $font_display;
            font-size: 6rem;
          }

          &__date {
            font-family: $font_info;
            font-size: 2rem;
          }
        }

        .weather {
          z-index: 20;
          opacity: 0.9;

          span {
            display: inline-block;
          }

          display: flex;
          flex-direction: column;

          &__condition {
            font-family: $font_info;
            font-size: 2rem;
          }

          &__temp {
            font-family: $font_display;
            font-size: 4rem;
            position: relative;
            left: 10px;
          }
        }

        .forecast {
          z-index: 20;
          list-style: none;

          display: flex;
          justify-content: center;
          text-align: center;
          opacity: 0.9;
          width: 80%;
          margin: 0 auto;

          &__weather {
            display: flex;
            flex-direction: column;
            margin: 0 4%;
            width: 4rem;

            &__condition,
            &__date {
              font-family: $font_info;
            }

            &__temp {
              font-family: $font_display;
              font-size: 1.6rem;
              position: relative;
              left: 4px;
            }
          }
        }
      }
    }
  }

  .cards {
    //layout
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 0 $gap;
    grid-auto-rows: $gap;
    position: relative;
    padding-bottom: 300px;
    min-height: 100vh;

    .anchor {
      position: absolute;
      width: 100%;
      text-align: center;
      bottom: 2.5rem;

      span {
        border: 1px solid lightgray;
        font-size: 1.8rem;
        padding: 0.8rem;
        border-radius: 2rem;
        color: lightgray;
        transition: all 0.15s ease-out;
        &:hover {
          cursor: pointer;
          background: $purple;
          color: white;
        }
      }
    }

    @keyframes popup {
      0% {
        transform: scale(0);
      }

      90% {
        transform: scale(1.5);
      }

      100% {
        transform: scale(1);
      }
    }

    .card,
    img {
      width: 100%;
    }

    .card {
      //  --- info-display ---
      &:hover {
        cursor: pointer;
      }

      img {
        user-select: none;
      }

      &__info {
        .current {
          @include loader;
        }
      }

      @include infoDisplay;

      .current {
        width: 45%;
        position: relative;
        h3 {
          transition: opacity 0.25s ease;
          user-select: none;
        }

        &__controls {
          width: 100%;
          opacity: 0;
          position: absolute;
          display: flex;
          justify-content: space-evenly;
          transform: scale(1.5);
          margin-top: 10px;
          user-select: none;

          button {
            background-color: transparent;
            border: none;
            color: white;
            cursor: pointer;
            display: inline-block;
            padding: 0.2rem;

            animation-duration: 0.3s;
            animation-timing-function: ease-in-out;

            &:hover {
              transform: scale(1.2);
            }
            &:active {
              transform: scale(1.6);
            }

            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
